<div>
		<% if	(theme.imglogo.enable&&theme.imglogo.src){ %>
			<div id="imglogo">
				<a href="<%- config.root %>"><img src="<%- config.root %><%= theme.imglogo.src %>" alt="<%= config.title %>" title="<%= config.title %>"/></a>
			</div>
			<% } %>
			<div id="textlogo">
				<h1 class="site-name"><a href="<%- config.root %>" title="<%= config.title %>"><%= config.title %></a></h1>
				<h2 class="blog-motto"><% if (config.subtitle){ %><%= config.subtitle %><% } %></h2>
			</div>
			<div class="navbar"><a class="navbutton navmobile" href="#" title="<%= __('menu') %>">
			</a></div>
			<nav class="animated">
				<ul>
					<% for (var i in theme.menu){ %>
						<li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
					<% } %>
					<li>
					<% if	(theme.google_cse&&theme.google_cse.enable){ %>
					<form class="search" name="f1" onsubmit="return g(this)" target="_blank">
						<label>Search</label>
						<input type="text" id="search" autocomplete="off" name="q" maxlength="20" placeholder="<%= __('search') %>" />
					</form>
					<% } else { %>
					<form class="search" name="f1" onsubmit="return g(this)" target="_blank">
						<label>Search</label>
						<input type="text" id="search" name="word" onfocus="checkHttps" size="30" maxlength="100" placeholder="<%= __('search') %>" />
						<input type="submit"  value="搜索">
						<input name="tn" type="hidden" value="SE_zzsearchcode_shhzc78w">
						<input name="cl" type="hidden" value="3">
						<input name="ct" type="hidden">
						<input name="si" type="hidden" value="www.liuyushuai.com">
					</form>
					<% } %>
					</li>
				</ul>
			</nav>			
</div>

<script src="http://s1.bdstatic.com/r/www/cache/global/js/BaiduHttps_20150714_zhanzhang.js"></script>
<script>
    function checkHttps () {
        BaiduHttps.useHttps();
    };
    function g(formname) {
        var data = BaiduHttps.useHttps();
        var url = '';
        url = data.s == 0 ? "http://www.baidu.com/baidu" : 'https://www.baidu.com/baidu' + '?ssl_s=1&ssl_c' + data.ssl_code;
		formname.ct.value = "2097152";
        formname.action = url;
        return true;
    };
</script>